/Okitegami/target/
/Okitegami/nbproject/private/
/Okitegami/build/
/Okitegami/dist/
/WebApplication1/nbproject/private/
/okitegami/target/
/okitegami - copia - copia/target/
/okitegami - co/target/
/okitegami2/target/
/okitegami - copia/target/
/okitegami - Copia Estable/target/
/okitegami3/target/
*.webm
*.mp4